@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #212426;
}

.app {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: #f9d3b4;
}

.search {
  width: 70%;
  margin: 3rem 0;
  display: flex;
  background: #1f2123;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
}

.search img {
  width: 30px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background: #343739;
  border-radius: 12px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie div:last-child {
  padding: 1rem;
}

.movie h3 {
  color: #f9d3b4;
}

.movie span {
  color: #aaa;
  font-size: 0.8rem;
}

.empty {
  color: #f9d3b4;
}
